*
{
    padding:0;
    margin:0;  
}
body
{
    background-image:linear-gradient(rgb(155, 41, 21),rgb(155, 41, 21));
    background-repeat:repeat;
   
    
}
.centerdata
{
   align-items: center;
   color:white;
    
}
.margenlaf
{
    margin-right:50px;
}